.grid-container {
  display: grid;
  grid-gap: 5px;
  height: 100vh;
  border: 10px solid var(--secondary-color);
  grid-template-areas: "sidebar1 sidebar2";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  overflow: hidden;
}

.shape2 {
  grid-area: sidebar1;
}

.sideBar2 {
  grid-area: sidebar2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: normal;
}

.bubbles > div,
.shape3 > div {
  height: 400px;
}

.bubbles > div {
  margin: -5em 0 0 10em;
}

.bubbles-img {
  width: 580px;
  height: 450px;
}

.shape2-img {
  width: 700px;
}

.shape2 > div {
  margin: 0 0 0 -20em;
}

/** Media Queries **/

@media only screen and (max-width: 3072px) and (min-width: 2560px) {
  .shape2-img {
    width: 1050px;
  }

  .sideBar2 {
    justify-content: space-between;
    align-items: flex-end;
  }

  .bubbles-img {
    width: 900px;
    height: 900px;
  }

  .shape3 > div {
    height: 700px;
  }

  .shape3-img {
    width: 1200px;
  }

  .card {
    width: 1000px;
    height: 600px;
    font-size: 25px;
  }

  .right-arrow {
    --bottom: -44rem;
  }

  .noOfHits {
    --top: 80rem;
    font-size: 20px;
  }

  .ais-SearchBox-input {
    width: 1000px;
  }
}

@media only screen and (max-width: 2880px) {
  .noOfHits {
    --top: 76rem;
  }
}

@media only screen and (max-width: 2560px) {
  .noOfHits {
    --top: 70rem;
  }
}

@media only screen and (max-width: 1440px) {
  .noOfHits {
    --top: 40.5rem;
  }
}

@media only screen and (max-width: 1280px) {
  .noOfHits {
    --top: 40.5rem;
  }

  .bubbles > div {
    margin: -5em 0 0 25em;
  }

  .shape3-img {
    margin: 2em;
    width: 650px;
  }
}

@media only screen and (max-width: 1200px) {
  .card {
    width: 600px;
  }
}

@media only screen and (max-width: 1150px) {
  .card {
    width: 600px;
  }

  .shape2-img {
    width: 550px;
  }

  .shape2 > div {
    margin: 0 0 0 -15em;
  }

  .bubbles-img {
    width: 380px;
  }

  .shape3-img {
    width: 600px;
  }

  .noOfHits {
    --top: 77em;
  }
}

@media only screen and (max-width: 768px) {
  .noOfHits {
    --top: 47.5rem;
  }
}

@media only screen and (max-width: 650px) {
  .shape2-img {
    width: 350px;
  }

  .shape2 > div {
    margin: 0 0 0 -10em;
  }

  .bubbles-img {
    width: 280px;
  }

  .shape3-img {
    width: 400px;
    margin: 12em 0 0 10em;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 550px;
  }
}

@media only screen and (max-width: 530px) {
  .card {
    width: 500px;
  }
}

@media only screen and (max-width: 420px) {
  .grid-container {
    grid-template-areas: "onebar";
    grid-template-columns: 1fr;
    grid-gap: 0px;
    border: 5px solid var(--secondary-color);
  }

  .card {
    width: 420px;
  }

  .card.active {
    width: 380px;
  }

  #popup-2 {
    margin: auto 0.5rem auto 0.5rem !important; /*Overriding margin for modal*/
  }

  .shape2,
  .sideBar2 {
    grid-area: onebar;
    overflow: hidden;
  }

  .ais-SearchBox-input {
    width: 300px;
  }

  .nav-menu {
    width: 90%;
  }

  .shape2-img,
  .shape3-img,
  .bubbles {
    width: 250px;
  }

  .bubbles-img {
    margin: -2em 0 0 10em;
    width: 200px;
  }

  .shape2-img {
    margin-left: 4em;
  }

  .bubbles > div {
    margin: -5em 0 0 5em;
  }
}

@media only screen and (max-width: 375px) {
  .nav-container {
    padding: 0 10px 5px;
  }

  .ais-SearchBox-input {
    width: 280px;
  }

  .card {
    width: 380px;
  }

  .card.active {
    width: 350px;
  }

  .shape2-img {
    margin: -3em 5em 0 3em;
  }

  .bubbles-img {
    margin: -3em 0 0 7em;
    width: 200px;
  }

  .nav-menu {
    width: 100%;
  }
}

@media only screen and (max-width: 360px) {
  .ais-SearchBox-input {
    width: 250px;
  }

  .card.active {
    width: 330px;
  }
}

@media only screen and (max-width: 320px) {
  .ais-SearchBox-input {
    width: 220px;
  }

  .card {
    width: 330px;
    height: 300px;
    font-size: 12px;
    top: -6em;
  }

  .right-arrow {
    --bottom: -28rem;
  }

  .nav-item-empty {
    display: none;
  }

  .nav-item:last-child {
    margin-bottom: 5em;
  }

  .social-icons:last-child span {
    margin-left: 0;
  }

  .card.active {
    width: 300px;
    top: 2em;
  }

  .shape3-img {
    margin: 3em 0 0 10em;
  }
}
