@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

:root {
  --primary-color: #ffffff;
  --secondary-color: #ffeea9;
  --dark-color: #2f2f2f;
  --light-color: #f4f4f4;
  --success-color: #cde4b4;
  --error-color: #79797a57;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}

html, body {
    min-height:100vh;
    overflow: hidden;
    height: 100%;
}

body {
  color: #333;
  line-height: 1.6;
}

body::-webkit-scrollbar{
    width:0.25rem;
}

body::-webkit-scrollbar-track{
    background-color: var(--dark-color);
}

body::-webkit-scrollbar-thumb{
    background-color: var(--secondary-color);
}


ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.container {
  display: grid;
}

/** Media Queries **/ 

